body{
margin: 0;
padding: 0;
font-family: 'PT Sans', sans-serif;
text-transform: uppercase;
font-size: 14px;
line-height: 21px;
color: #000000;
font-weight: normal;
background-color: #ffffff;
background-position: top center;
background-repeat: no-repeat;
}

.slogan-tittle{
font-size: 21px;
line-height: 26px;
font-weight: bold;
}

.visually-hidden{
font-size: 21px;
line-height: 21px;
color: #ffffff;
}

a{
  text-decoration: none;
}


.button{
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}

.button:hover,
.button:focus,
.button:active{
  background-color: #60deed;
}

.main-navigation{
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation{
list-style: none;
}

.site-navigation a{
  color: #000000;
  font-width: bold;
}

.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:focus{
  color: #f0f0f0;
}
.site-navigation a:active{
  color: #766357;
}

.background-image{
  font-width: bold;
  color: #ffffff;
}

.label{
  font-size: 14px;
}

.features-list{
  list-style: none;
}

.features-item{
  text-align: center;
}

.features-item h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.trip input{
  font: inherit;
  background-color: transparent;
  border: 2px solid #ffffff;
  font-weight: bold;
}

.trip input:focus{
  border-color: #fbfbfb;
  outline: none;
}

.btn-search:hover{
  color: #669ec0;
}

.btn-search:focus{
  color: #81b3d2;
}

.btn-search:active{
  color: #5496bd;
}

.map{
  width: 14px;
  height: 26px;
}

div.search-hotels-btn{
  text-transform: uppercase;
  color: #000000;
}
.search-hotels-btn h2{
  height: 86px;
    background-color: #766357;
    line-height: 86px;
    color: #ffffff;
    text-align: center;
}

.sort-title{
  background-color: #ffffff;
  color: #000000;
}

.sort a{
  color: #dbdbdb;
}
a.active{
  color: #81b3d2;
}

.sort a:hover,
.sort a:active{
  color: #81b3d2;
}


.results-wrapper{
font-size: 14px;
line-height: 21px;
background-color: #ffffff;
text-transform: uppercase;
color: #000000;
}
.results-wrapper:hover{
  color: #000000;
}
.results-wrapper:focus{
  color: #81b3d2;
}
.results-wrapper:active{
  color: #fcfcfc;
}

.button.btn-search{
 text-transform: uppercase;
  background-color: #000000;;
  color: #ffffff;

 .button.btn-search:hover,
 .button.btn-search:focus,
  .button.btn-search:active{
  }

  .more-detailed:hover{
    background-color: #81b3d2;
    color: #ffffff;
  }

  .more-detailed:focus{
background-color: #669ec0;
color: #ffffff;
}

.more-detailed:active{
  background-color: #5496bd;
  color: #ffffff;
}

.send:hover{
  background-color: #766357
  color: #ffffff;
}

.send:fosus{
  background-color: #604e43;
  color: #ffffff;
}

.send:active{
  background-color: #503e33;
  color: #ffffff;
  }
.main-footer{
color: #000000;
  background-color: #ffffff;
  background-pozition: 0 0;
  background-repeat: repeat;
  font-weight: bold;
}

.footer-social{
  text-align: center;
}

.footer-social ul{
  list-style: none;
}

.social-button{
  color: #000000;
}

.footer-copuright .button:hover,
.footer-copyright .button:focus{
  color: #ffffff;
  background-color: #000000;
}
