body{
margin: 0;
padding: 0;
font-family: 'PT Sans', sans-serif;
text-transform: uppercase;
font-size: 14px;
line-height: 21px;
color: #000000;
font-weight: normal;
background-color: #ffffff;
background-position: top center;
background-repeat: no-repeat;
}

.slogan-tittle{
font-size: 21px;
line-height: 26px;
font-weight: bold;
}

.visually-hidden {
 position: absolute;
 clip: rect(1px 1px 1px 1px); 
 clip: rect(1px, 1px, 1px, 1px);
 padding: 0;
 border: 0;
 height: 1px; 
 width: 1px; 
 overflow: hidden;
}

a{
  text-decoration: none;
}


.button{
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}

.button:hover,
.button:focus,
.button:active{
  background-color: #60deed;
}

.main-navigation{
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation{
list-style: none;
}

.site-navigation a{
  color: #000000;
  font-weight: bold;
}

.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:focus{
  color: #f0f0f0;
}
.site-navigation a:active{
  color: #766357;
}

div.background-image{
  font-weight: bold;
  color: #ffffff;
  background-image: url("../img/filter.jpg");
}

.label{
  font-size: 14px;
}

.features-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item{
  width: 1200px;
  text-align: center;
  outline: 1px solid blue;
  
}

.features-item h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.trip input{
  font: inherit;
  background-color: transparent;
  border: 2px solid #ffffff;
  font-weight: bold;
}

.trip input:focus{
  border-color: #fbfbfb;
  outline: none;
}

.btn-search:hover{
  color: #669ec0;
}

.btn-search:focus{
  color: #81b3d2;
}

.btn-search:active{
  color: #5496bd;
}

.map{
  width: 14px;
  height: 26px;
}

div.search-hotels{
  text-transform: uppercase;
  color: #000000;
}
.search-hotels-btn h2{
  font-size: 21px;
   font-weight: bold;
    background-color: #766357;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
}

.sort-title{
  background-color: #ffffff;
  color: #000000;
}

.sort a{
  color: #dbdbdb;
}
a.active{
  color: #81b3d2;
}

.sort a:hover,
.sort a:active{
  color: #81b3d2;
}


.results-wrapper{
font-size: 14px;
line-height: 21px;
background-color: #ffffff;
text-transform: uppercase;
color: #000000;
}
.results-wrapper:hover{
  color: #000000;
}
.results-wrapper:focus{
  color: #81b3d2;
}
.results-wrapper:active{
  color: #fcfcfc;
}

.button.btn-search{
 text-transform: uppercase;
  background-color: #000000;;
  color: #ffffff;
}
/*
 .button.btn-search:hover,
 .button.btn-search:focus,
  .button.btn-search:active{
  }
*/

.more-detailed:hover{
    background-color: #81b3d2;
    color: #ffffff;
  }

.more-detailed:focus{
background-color: #669ec0;
color: #ffffff;
}

.more-detailed:active{
  background-color: #5496bd;
  color: #ffffff;
}

.send:hover{
  background-color: #766357
  color: #ffffff;
}

.send:fosus{
  background-color: #604e43;
  color: #ffffff;
}

.send:active{
  background-color: #503e33;
  color: #ffffff;
  }
.main-footer{
color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  font-weight: bold;
}

.footer-social{
  text-align: center;
}

.footer-social ul{
  list-style: none;
}

.social-button{
  color: #000000;
}

.footer-copuright .button:hover,
.footer-copyright .button:focus{
  color: #ffffff;
  background-color: #000000;
}


/*--------- Сеточные стили ----------*/


.container{
width: 1200px;
height: 2590px;
margin: 0 auto;
outline: 1px solid red;
}

.main-header{
     min-height: 255px;
     }

.main-navigation{
display: flex;
flex-direction: column;
align-items: center;
min-height:255px;
background-color: transparent;
}

.main-header-logo{
order: 0;
width: 230px;
height: 75px;
  
/*display: block;*/
}

.main-navigation-wrapper{
width: 100%;
margin: 0;
background-color: #ffffff;
min-height: 60px;
}

.main-navigation-wrapper .container{
display: flex;
justify-content: space-between;
}

.site-navigation{
width: 1130px;
margin: 0;
padding: 0;
list-style: none;
min-height: 60px;
}

.real-town{
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 45px 60px;
  list-style: none;
  min-height: 260px;
}
.bridge{
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 45px 60px;
  list-style: none;
  min-height: 260px;
}

.features{
justify-content: space-between;
margin-bottom: 85px;
padding: 0;
list-style: none;
min-height: 260px;
}

.features-list{
display: flex;
  
  
.feature-item{
width: 310px;
min-height: 205px;
}

.search-hotels{
width: 575px;
margin-bottom: 55px;
  min-height: 35px;
}

.main-footer{
  display: flex;
  padding: 45px 0;
  margin-top: 70px;
  background: none;
  min-height: 35px;
}

.main-footer .container{
  display: flex;
}

.footer-social{
  width: 190px;
  margin-right: 230px;
    min-height: 85px;


.footer-copyright{
  margin-left: auto;
  width: 230px;
  margin: 0;
  min-height: 35px;
}

  /*Каталог*/
  
 .background-image{
   outline: 1px solid yellowgreen;
   margin-left: auto;
   display: flex;

  }
 div.infrastructure{
   outline: 1px solid green;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
  }
  
  div.housing{
    outline: 1px solid pink;
    margin: 0;
    padding: 0;
    display: flex;
   flex-direction: column;
  }
  
  div.filter-price{
    outline: 1px solid orange;
    margin: 0;
    padding: 0;
    display: flex;
   flex-direction: column;
  }
  
  div.sorting{
    display: inline-block;
    box-sizing: border-box;
    margin-left: auto;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
  }
  
  div.amara-hotel{
    display: flex;
    align-items: flex-start;
    width: 135px;
    height: 152px;
  }
  
  div.type-hotel{
    display: flex;
    align-items: flex-start;
    width: 655px;
    height: 155px;
  }
  
  div.rating-stars{
    display: flex;
    align-items: flex-end;
    width: 240px;
    height: 150px;
    margin-left: auto;
  }

  .main-footer{
    display: flex;
    justify-content: space-between;
    min-height: 122px;
  }
  
  div.hashtag{
  width: 240px;
  height: 55px;
  vertical-align: middle;
   line-height: 48px;
  }
  
  .footer-social{
    width: 290px;
    height: 75px;
    vertical-align: baseline;
    line-heightL 48px;
  }
  
  .footer-copyright{
    width: 250px;
    height: 60px;
    line-height: 48px;
    padding-right: 3px;
    vertical-align: baseline;
  }
