body{font-family: 'PT Sans', Arial, sans-serif;
text-transform: uppercase;
font-size: 14px;
line-height: 1px;
color: #000000;
font-weight: 700;}

.slogan-tittle{
font-size: 21px;
line-height: 26px;}

.visually-hidden{
font-size: 21px;
line-height: 21px;
color: #ffffff;}
